extends includes/base.pug

block body
    .logo-bg 
        .container-fluid
            .row 
                .col-xl-9.col-lg-12.col-md-12.text-center.m0-auto
                    h2 關於我們
                    .p-box
                        p 妃悅足湯2000年創立於台灣高雄，目前擁有台北、高雄兩家分店。
                        p 22年來，提供獨一無二的精緻與奢華的服務與環境設備，從臉部療程、身體療程，到儀器療程皆有優質規劃，並堅持最完整的員工專業培訓與美容養成服務，只要來一趟妃悅足湯，就能享受到度假般的放鬆體驗，是台灣頂級的專業美容沙龍。
                        p 館內風格採用經典中日式設計，設計主軸圍繞暗色系搭配金色調，打造五感按摩空間(觸感、視覺、聽覺、嗅覺、味覺)，讓每一位貴賓都能體驗到舒適與深層的放鬆效果，如同皇貴妃一樣的尊榮服務與享受。
                        p 妃悅足湯之專業調理保健師＆芳療師，依照每個客戶的訴求調製專屬療程用精油配方。由美療師為您設計個人肌膚療程，在享受芳香療法的同時，亦可讓肌膚迅速回覆年輕般細嫩。
                        p 未來，我們也將秉持提供專業的技術服務，創造美麗與安心感受，為每一位尊貴的您創造不凡體驗。

