extends includes/base-product.pug

block body
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-face.banner
							.text
								img(src='../img/face-word.png' alt='')
						.text-2
							img(src='../img/face-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/face01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 緊緻拉提課程
									.minute 【90分鐘】
								p 針對肌膚老化問題，以妃悅獨家48道按摩手法細膩按摩臉部，提升肌膚緊緻度，撫平乾燥紋路，使臉部輪廓更立體，恢復宛若新生的彈性俏顏。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/face02.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 高效深層保濕課程
									.minute 【90分鐘】
								p 溫和清潔毛孔後，輕柔按摩臉部穴位，加強導入深層保濕因子啟動肌膚自癒力，增加肌膚柔潤與基底保水，重現宛如天生的水嫩透亮。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/face03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 清透美白課程
									.minute 【90分鐘】
								p 深層潔淨肌膚，以杏仁酸亮白煥膚溫和不刺激，全方位提升緊緻亮白，促進肌膚代謝，向暗沉蠟黃的臉部菜色說掰掰。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/face04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 美人深層護膚課程
									.minute 【80分鐘】
								p 獨家緊緻芳香臉部按摩，舒緩保濕淨化，還你水嫩美膚。促進臉部循環、加速膠原蛋白生成，玫瑰香氛保濕精華液厚敷，肌膚光采加分。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



