extends includes/base-product.pug

block body 
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-foot.banner
							.text
								img(src='../img/foot-word.png' alt='')
						.text-2
							img(src='../img/foot-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/foot01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 東方古法腳底按摩課程
									.minute 【60分鐘】
								p 妃悅最經典推薦的頂級課程！以淡淡清香的藥草浴浸泡足部後，體驗妃悅東方古法純正的按摩手技，推薦給久站、腳部易水腫者，釋放一天的疲累。

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/foot02.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 手部柔潤呵護課程
									.minute 【60分鐘】
								p 解放媽媽手、爸爸手！以天然複方精油潤澤修護手部的柔嫩肌膚，搭配專業鬆筋按摩，舒緩勞累後的副作用，達到手部壓力減緩的效用。

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/foot03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 漫步輕盈足課程
									.minute 【60分鐘】
								p 從腳趾、腳底、腳踝，到小腿肌的部分，以一系列獨家手技輕柔按摩，緊繃的足部筋絡獲得放鬆，降低痠痛感，宛如漫步雲端一般的輕鬆舒暢。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/foot04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 去角質護手課程
									.minute 【60分鐘】
								p 依循清潔、去角質、按摩、熱敷四步驟，去除手部粗糙角質，以牛奶滋養浸潤雙手，使手部肌膚釋放壓力並重新恢復光滑滋潤。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



