extends includes/base-product.pug

block body 
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-space.banner
							.text
								img(src='../img/space-word.png' alt='')
						.text-2
							img(src='../img/space-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/space01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') Sauna桑拿
									.minute 【60分鐘】
								p 發揚自芬蘭的經典桑拿浴，在釋放大量蒸氣的桑拿浴中，享受溫度提升，逼出汗水與毒素。奢華時尚的空間，原木材質，提供頂級舒適的沉浸享受。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/space02.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') Jacuzzi按摩浴缸
									.minute 【60分鐘】
								p 溫水按摩浴缸可在放鬆泡澡的同時，以特殊水柱輕柔按摩身體穴道，維持水質PH值7.2-7.6，並升級殺菌過濾系統，給肌膚最純淨的呵護，泡澡後更好眠，身心一同放鬆。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/space03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 岩盤浴
									.minute 【60分鐘】
								p 使用來自日本的「北投石」，遠紅外線讓身體慢慢發熱，靜靜地躺在熱氣蒸騰的岩盤浴上，享受舒適香氛與音樂繚繞，流汗完的全身舒暢，是愛美女性一定要嘗試的放鬆課程。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/space04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 太空艙
									.minute 【60分鐘】
								p 妃悅太空艙採用遠紅外線熱能環繞，促使身體新陳代謝、自然排汗，可以消耗大量熱量，燃燒卡路里，達到運動般的效果！
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



