extends includes/base-product.pug

block body
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-body.banner
							.text
								img(src='../img/body-word.png' alt='')
						.text-2
							img(src='../img/body-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/body01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 香氛舒壓放鬆課程
									.minute 【60分鐘】
								p 圍繞在精油的芳香療癒中，舒緩緊繃的身心，專業指壓技法放鬆每一寸肌膚，給予身體全然的放鬆體驗，讓壓力獲得釋放，舒緩疲勞、活絡身體循環。

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/body02.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 女神纖體雕塑課程
									.minute 【60分鐘】
								p 擊退您對身形的困擾！傳統東方按摩技法搭配美體按摩油，溫柔雕塑體態，讓身心變得輕盈舒暢，重新找回女神般的窈窕曲線。

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/body03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 全方位滋養紓壓課程
									.minute 【60分鐘】
								p 傳統日式技法，全方位深層按摩喚醒肌膚能量、促進血液循環，深入每一條經絡，打通經脈循環，讓身心變得輕盈舒暢。

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/body04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 特殊保養課程-去角質
									.minute 【60分鐘】
								p 以妃悅頂級牛奶核桃去角質霜輕柔按摩，輕柔代謝身體髒汙、去除老廢角質，改善肌膚的粗糙與暗沉，使肌膚光滑水嫩，享受滑溜細緻的膚觸。
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



