extends includes/base-product.pug

block body
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-news.banner
							.text
								img(src='../img/news-word.png' alt='')
						.text-2
							img(src='../img/news-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4 	 	
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/news01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 【開幕慶】
									.minute 兩人同行一人免費 加贈摸彩券
								p 9/5-9/12限時一週，二人同行一人免費。活動當日消費滿萬即可獲得抽獎券，有機會獲得GOGORO、IPhone 13、小米掃拖機器人！
								
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/news02.jpg', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 【初秋美人祭】
									.minute  任選兩堂課程9折
								p 入秋之際，天氣逐漸變得涼爽、乾燥，身體還在適應節氣的轉變，來到妃悅享受美好多樣的按摩課程，給您五感細膩如貴妃般的體驗。
								
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/news03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 【當月壽星】
									.minute 寵愛優惠限定
								p 當月壽星來妃悅，享全課程任選+1元多一堂的超有感優惠！享受雙重美好的放鬆按摩，給壽星最專屬的寵愛體驗。

								
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/news04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 【VIP卡好康】
									.minute 享專屬優惠及權益
								p 加入妃悅VIP會員，即可獲得$100,000元折價券一張！消費滿萬即可累積1點，集滿30點可免費兌換妃悅獨家複方精油及其他多項好禮。
								
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



