extends includes/base-product.pug

block body
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-tea.banner
							.text
								img(src='../img/tea-word.png' alt='')
						.text-2
							img(src='../img/tea-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/tea01.jpg', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 漢方草本養生茶
									.minute 【50ml】
								p 以中醫五行分析現代人問題，選用五種中藥材配製出養生又好喝的漢方茶。
								p 成分：決明子、荷葉、洛神、山楂、薏仁

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即購買
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/tea02.jpg', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 枸杞菊花茶
									.minute 【50ml】
								p 枸杞又叫做明目果，二者合一可以調理體質、清涼退火，讓眼睛晶采水亮。
								p 成分：枸杞、菊花

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即購買
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/tea03.jpg', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 桂圓紅棗茶
									.minute 【50ml】
								p 桂圓，益心脾補氣血。紅棗，是不可或缺的補血聖品。時常飲用，由內而外透出好氣色。
								p 成分：桂圓、紅棗

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即購買
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/tea04.jpg', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 補氣人參茶
									.minute 【50ml】
								p 使用6年根高麗參，養分最佳。茶湯清澈，參香濃厚，適合全年齡層飲用。
								p 成分：人參


								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即購買
					// 課程預約End 
		
			



