extends includes/base-product.pug

block body
	main#main(data-aos='fade', data-aos-delay='1500')
		.section-1
			.container 
				.row
					.col-lg-12.col-md-12.col-sm-12.m0-auto
						.banner-oil.banner
							.text
								img(src='../img/oil-word.png' alt='')
						.text-2
							img(src='../img/oil-word-xs.png' alt='')
		section#services.services
			.container
				.row.gy-4
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/oil01.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 沉靜舒眠複方精油
									.minute 【50ml】
								p 成分：迷迭香、薰衣草、小麥芽、金銀花、魚腥草、香衫、荷荷巴籽油
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/oil02.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 健康舒壓複方精油
									.minute 【50ml】
								p 成分：乳香、檸檬、雪松、甜橙、天竺葵、白芍、沉香、荷荷巴籽油
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/oil03.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 青春柔嫩滋潤精油
									.minute 【50ml】
								p 成分：茶樹、廣霍香、乳香、小麥芽、洋甘菊、何首烏、樟芝、荷荷巴籽油
								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
					.col-xl-3.col-md-6.d-flex
						.service-item.position-relative
							.card-pic
								img(src='../img/oil04.png', alt='')
							.card-body
								h4
									a.stretched-link(href='contact.html') 思緒清晰醒神精油
									.minute 【50ml】
								p 成分：迷迭香、鼠尾草、薄荷、薑黃、靈芝、沉香、樟芝、荷荷巴籽油

								.price 原價5200元
							.button 
								small.text-muted
									button.btn.btn-danger.btn-sm.w-100(type='button') 立即預約
					// 課程預約End 
		
			



