
script(src='../vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='../vendor/jquery-3.6.0.min.js')
script(src='../vendor/swiper/swiper-bundle.min.js')
script(src='../vendor/glightbox/js/glightbox.min.js')
script(src='../vendor/aos/aos.js')
script(src='../vendor/php-email-form/validate.js')

<script src="https://kit.fontawesome.com/2dda2edfac.js" crossorigin="anonymous"></script>
script(src='../js/main.js')



