// ======= Footer =======
footer#footer.footer
  .container
    .copyright
      | © Copyright 
      strong
        span Fy-Venus
      | . All Rights Reserved
    .credits
      | Designed by 
      a(href='')  W / YOYO / RURU
// End Footer
a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
#preloader
  .line

