// ======= Footer =======
footer#footer.footer.other
  .container-fluid
    .col-xl-9.col-lg-12.col-md-12.text-center.m0-auto
      .foot-corner
        .copyright
          | © Copyright 
          strong
            span Fy-Venus
          | . All Rights Reserved
        .credits
          | Designed by 
          a(href='')  W / YOYO / RURU
    // End Footer
    a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
    #preloader
      .line

