header#header.header.d-flex.align-items-center.fixed-top
  .container-fluid.d-flex.align-items-center.justify-content-between
    a.logo.d-flex.align-items-center.me-auto.me-lg-0(href='index.html')
      img(src='../img/LOGO-color.png' alt='')
    nav#navbar.navbar
      ul
        span.line 
        li
          a(href='index.html') 首頁
        span.line 
        li
          a(href='about.html') 關於我們
        span.line 
        li.dropdown
          a(href='#')
            span 課程介紹
            i.bi.bi-chevron-down.dropdown-indicator
          ul
            li
              a(href='class-head.html') 頭部課程
            li
              a(href='class-face.html') 臉部課程
            li
              a(href='class-body.html') 全身課程
            li
              a(href='class-foot.html') 腳底課程
            li
              a(href='class-space.html') 器材課程
        span.line 
        li
          a(href='news.html') 最新活動
        span.line 
        li.dropdown
          a(href='#')
            span 商品介紹
            i.bi.bi-chevron-down.dropdown-indicator
          ul
            li
              a(href='product-oil.html') 精油產品
            li
              a(href='product-tea.html') 養生茶產品
        span.line 
        li
          a(href='contact.html') 聯絡我們
        span.line 
    // .navbar
    .header-social-links
      a.twitter(href='#')
        i.bi.bi-twitter
      a.facebook(href='https://www.facebook.com/%E5%AD%B8%E8%A1%93%E7%94%A8-Fy-%E5%A6%83%E6%82%85%E8%B6%B3%E6%B9%AF-110995938404881')
        i.bi.bi-facebook
      a.instagram(href='#')
        i.bi.bi-instagram
      //- a.linkedin(href='#')
      //-   i.bi.bi-linkedin
    i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
    i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x



// End Header

