section#testimonials.testimonials
    .container
        .section-header
            h2 Fy-Venus
            p 團隊介紹
        .slides-3.swiper
            .swiper-wrapper
                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 芳療油壓SPA、中式指壓、中式按摩、撥筋按摩、局部專業護理、專業腳底按摩。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/gabe.png' alt='')
                            h3 施爺 
                            h4 古董收藏家 &amp; 騙老人專家

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 女性專業護理、芳療油壓SPA、中式指壓、中式按摩、撥筋按摩、局部專業護理、專業腳底按摩。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/w.png' alt='')
                            h3 威爺 
                            h4 苦命的老闆 &amp; 網頁設計師
                           

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p 
                            | 芳療油壓SPA、中式按摩、撥筋按摩、專業孕婦按摩、臉部專業護理、局部專業護理、中式指壓、女性專業護理、身體淋巴護理。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/ruru.png' alt='')
                            h3 懿妃
                            h4 芳療師 &amp; 團隊專屬按摩師 &amp; 精油調製

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 芳療油壓SPA、專業孕婦按摩、臉部專業護理、局部專業護理、女性專業護理、身體淋巴護理。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/yoyo.png' alt='')
                            h3 幼妃 
                            h4 視覺、文案設計 &amp; 奶茶愛好者

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 芳療油壓SPA、中式按摩、撥筋按摩、專業孕婦按摩、臉部專業護理、局部專業護理、中式指壓、女性專業護理、身體淋巴護理。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/fly.png' alt='')
                            h3 念妃 
                            h4 課程講師 &amp; 讀書會活動會長

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 芳療油壓SPA、中式指壓、中式按摩、撥筋按摩、局部專業護理、專業腳底按摩。

                        .profile.mt-auto
                            img.testimonial-img(src='../img/jason.png' alt='')
                            h3 愛爺 
                            h4 音樂家 &amp; 石內卜cosplay愛好者

                .swiper-slide
                    .testimonial-item
                        .stars
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                        p.vocational
                            | 擅長課程
                        p
                            | 芳療油壓SPA、中式按摩、撥筋按摩、專業孕婦按摩、臉部專業護理、局部專業護理、中式指壓、女性專業護理、身體淋巴護理。
                        .profile.mt-auto
                            img.testimonial-img(src='../img/jc.png' alt='')
                            h3 驥妃 
                            h4 按摩師 &amp; 傳說中毒患者


            .swiper-pagination